.accordion {
  overflow: auto;
  border-radius: 3px;

  // width: 80%;

  .padding {
    padding: 2%;
  }
}

.accordion-header {
  width: 100%;
  line-height: 20px;
  border-bottom: 1px solid #D4D0D0;
  padding: 10px;
}

.accordion-section {
  background: #fff;
  margin-bottom: 15px;
  -webkit-box-shadow: 0px 0px 5px -1px rgba(107, 99, 107, 0.7);
  -moz-box-shadow: 0px 0px 5px -1px rgba(107, 99, 107, 0.7);
  box-shadow: 0px 0px 5px -1px rgba(107, 99, 107, 0.7);
}

.accordion-section-title {
  padding: 8px 15px;
  transition: all linear 0.15s;
  font-size: 1.200em;
  color: #A2A2A2;

  .icon {
    float: right;
    height: 20px;
    width: 20px;
    padding-right: 1px;
    color: $primary-color;
    font-size: inherit;
  }
}

.accordion-section-content {
  position: relative;

  // top: -4px;
  max-height: 0;
  overflow: auto;
  border-top: 0;
  z-index: -1;
  -webkit-transition: max-height 0.5s ease;
  -moz-transition: max-height 0.5s ease;
  transition: max-height 0.5s ease;

  @at-root .open & {
    // Hack for transition
    max-height: 5000px;
    z-index: 1;
  }
}

.accordion-footer {
  background-color: #F6F6F6;
}
