// Colors
$sky-blue: #25C2D0;
$yellow-ish: #B7D329;
$light-gray: #E4E4E4;
$gray: #ccc;
$dark-gray: #999;
$red: #E3332B;
$green: #64B44E;
$teal: #3D9EA7;
// Color overrides
$color-primary: $sky-blue;
$color-secondary: $yellow-ish;
$color-warning: $yellow-ish;
$color-danger: $red;
$color-success: $green;
// To be deleted
$font-stack: helvetica;
$full-width: 100%;
$white-color: #FFF;
$padding: 10px;
$margin: 10px;
$direction-right: right;
$border-bottom: 1px solid $light-gray;
$primary-color: $sky-blue;
$warning-color: #EDBE78;
$success-color: $green;
$danger-color: $red;
